:root {
    --bg: #000107;
    --bg-fade: #140015;
    --white: #ffffff;

    --btn-scale: 1.5;
    --btn-radius: 10;
    --btn-color: black;
    --btn-border-color: white;
    --btn-hover-color: #3b0087;
    --btn-active-color: #b700ff;

    --btn-map-color: rgba(0, 0, 0, 0.3);
    --btn-map-hover-color: rgba(59, 0, 135, 0.3);
    --btn-map-active-color: rgba(183, 0, 255, 0.5);

    --layout-transition-speed: 300ms;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    background: var(--bg);
    color: var(--white);
    font-family: 'Main', 'Ubuntu', verdana, sans-serif;
}

#mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    overflow: hidden;
    animation: pretty 10s infinite;
}
@keyframes pretty {
    0%{background-color: var(--bg)}
    50%{background-color: var(--bg-fade)}
    100%{background-color: var(--bg)}
}

#mapContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    position: absolute;
}

.map-bound {
    position: absolute;
    transition: transform 0.5s cubic-bezier(.2, .9, .2, 1), scale 1000ms;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

hr {
    border: none;
    border-top: 6px solid #b700ff;
    margin: 12px 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: stretch;
    padding: 32px;
    min-width: 100%;
    min-height: 100%;
    transition: opacity 100ms;
    opacity: 1;
}

.info-header-title {
    font-size: 36px;
}

.info-header-description {
    font-size: 16px;
}

#bottomPanel,
#topPanel {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: calc(4px * var(--btn-scale));
    align-items: center;
    padding: calc(12px * var(--btn-scale)) calc(14px * var(--btn-scale));
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    white-space: nowrap;
}

#topPanel {
    bottom: auto;
    top: 0;
}

.ui-button {
    z-index: 80;
    cursor: pointer;
    pointer-events: auto;
    background-color: var(--btn-color);
    padding: calc(5px * var(--btn-scale));
    border: calc(1px * var(--btn-scale)) solid var(--btn-border-color);
    border-bottom-left-radius: calc(12px * var(--btn-scale));
    border-top-right-radius: calc(12px * var(--btn-scale));
    min-height: calc(35px * var(--btn-scale));
    gap: calc(8px * var(--btn-scale));
    display: flex;
    align-items: center;
    transition: opacity 300ms, transform 100ms, background-color 100ms;
}

.ui-button img {

}

.ui-button.left {
    border-bottom-left-radius: calc(12px * var(--btn-scale));
    border-top-right-radius: 0;
}

.ui-button.center {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-button.right {
    border-bottom-left-radius: 0;
    border-top-right-radius: calc(12px * var(--btn-scale));
}

.ui-button:hover {
    transform: scale(1.1);
    background-color: var(--btn-hover-color);
}

.ui-button:active {
    transform: scale(0.95);
    background-color: var(--btn-active-color);
}

.ui-map-button{
    background-color: var(--btn-map-color);
    transition: transform 100ms;

    border: 1px solid var(--btn-border-color);
    display: flex;
    align-items: center;
    align-content: center;
    padding: 2px;
    border-radius: 8px;
}

.ui-map-button:hover {
    transform: scale(1.2);
    background-color: var(--btn-map-hover-color);
}

.ui-map-button:active {
    transform: scale(0.95);
    background-color: var(--btn-map-active-color);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
