:root {
    --bg: #000107;
    --bg-fade: #140015;
    --white: #ffffff;

    --hr-color: #6a0085;

    --title-color: #ffffff;
    --subtitle-color: #9c3992;
    --text-color: #cacaca;

    --card-size: 1;

    --btn-scale: 1.5;
    --btn-radius: 10;
    --btn-color: black;
    --btn-border-color: white;
    --btn-hover-color: #3b0087;
    --btn-active-color: #b700ff;

    --btn-map-color: rgba(0, 0, 0, 0.3);
    --btn-map-hover-color: rgba(59, 0, 135, 0.3);
    --btn-map-active-color: rgba(183, 0, 255, 0.5);

    --layout-transition-speed: 300ms;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Union;
    font-display: swap;
    src: url(../assets/fonts/UnionRodeo.ttf);
}

html,
body {
    height: 100%;
    margin: 0;
    background: var(--bg);
    color: var(--white);
    font-family: Union, Ubuntu, arial, sans-serif;
}

#mainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    overflow: hidden;
    animation: pretty 10s infinite;
}
@keyframes pretty {
    0%{background-color: var(--bg)}
    50%{background-color: var(--bg-fade)}
    100%{background-color: var(--bg)}
}

.map-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    position: absolute;
    filter: blur(0);
    transition: filter 300ms;
}

.blur {
    filter: blur(0.5rem);
}

.map-bound {
    position: absolute;
    transition: transform 0.5s cubic-bezier(.2, .9, .2, 1), scale 1000ms;
    align-items: center;
    justify-content: center;
}

.map-bound > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.center-spiral {
    width: 1024px;
    height: 1024px;
    background-image: url(../assets/images/Spiral.png);
    background-size: cover;

    mix-blend-mode: screen;
    animation: spin linear 120s infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

hr {
    border: none;
    border-top: 6px solid var(--hr-color);
    margin: 12px 0;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
    overflow: visible;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
    overflow: visible;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--btn-hover-color);
    border: 1px solid var(--btn-border-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--btn-active-color);
}

.info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: stretch;
    padding: 32px;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: opacity 300ms;
    transform: scale(1);
    overflow: auto;
    opacity: 1;
}

.info-header-title {
    font-size: 36px;
    color: var(--title-color);
}

.info-header-description {
    font-size: 16px;
    color: var(--subtitle-color);
}

.info-body {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card {
    display: flex;
    position:relative;
    flex-direction: column;
    border: 5px solid var(--hr-color);
    border-radius: calc(12px * var(--card-size));
    padding: calc(6px * var(--card-size));
    width: calc(240px * var(--card-size));
    height: calc(300px * var(--card-size));
    backdrop-filter: blur(1rem);
    box-shadow: inset 0 0 30px var(--hr-color);

    gap: calc(6px * var(--card-size));

    transition: transform 100ms;
    transform: scale(1);

    overflow: hidden;
}

.card img {
    border-radius: calc(6px * var(--card-size));
}

.card:hover {
    transform: scale(1.075);
}
.card:active {
    transform: scale(0.95);
}

.card .card-text {
    background-color: var(--hr-color);
    border-radius: calc(6px * var(--card-size));
    padding: calc(6px * var(--card-size));
}

.card .card-text-title {
    font-size: calc(16px * var(--card-size));
    text-align: center;
}

.card .card-text-subtitle {
    font-size: calc(12px * var(--card-size));
    text-align: center;
    color: var(--text-color);
}

.card .card-content {
    color: var(--text-color);
}

.card .card-content h4 {
    color: var(--white);
    font-weight: normal;
}

.card .card-slider {
    width: 100%;
}

.card[data-banner="true"] {
    border: 5px solid var(--hr-color);
    padding: calc(12px * var(--card-size));
    width: 100%;
    height: auto;

    overflow: hidden;
}

.card[data-separator="true"] {
    border: none;
    padding: 0;
    width: 100%;
    height: fit-content;

    backdrop-filter: none;
    box-shadow: none;

    overflow: hidden;
}

.card[data-separator="true"]  .card-text {
    background-color: #00000000;
    padding: 5px 0 0;
}

.card[data-separator="true"]  .card-text-title {
    font-size: calc(16px * var(--card-size));
    text-align: left;
}

.card[data-separator="true"]  .card-text-subtitle {
    font-size: calc(12px * var(--card-size));
    text-align: left;
    color: var(--text-color);
}

.card[data-no-click="true"]:hover {
    transform: scale(1);
}
.card[data-no-click="true"]:active {
    transform: scale(1);
}

#bottomPanel,
#topPanel {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: calc(4px * var(--btn-scale));
    align-items: center;
    padding: calc(12px * var(--btn-scale)) calc(14px * var(--btn-scale));
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    white-space: nowrap;
}

#topPanel {
    bottom: auto;
    top: 0;
}

.ui-button {
    cursor: pointer;
    pointer-events: auto;
    background-color: var(--btn-color);
    padding: calc(5px * var(--btn-scale));
    border: calc(1px * var(--btn-scale)) solid var(--btn-border-color);
    border-bottom-left-radius: calc(12px * var(--btn-scale));
    border-top-right-radius: calc(12px * var(--btn-scale));
    min-height: calc(35px * var(--btn-scale));
    display: flex;
    align-items: center;
    transition: opacity 300ms, transform 100ms, background-color 100ms;
    overflow: hidden;
    user-select: none;
}

.ui-button img {

}

.ui-button .expand-text {
    overflow: hidden;
    transition: width 300ms, margin 300ms;
    margin-inline: 0;
    width: 0;
}

.ui-button.left {
    border-bottom-left-radius: calc(12px * var(--btn-scale));
    border-top-right-radius: 0;
}

.ui-button.center {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-button.right {
    border-bottom-left-radius: 0;
    border-top-right-radius: calc(12px * var(--btn-scale));
}

.ui-button:hover {
    transform: scale(1.1);
    background-color: var(--btn-hover-color);
}

.ui-button:hover .expand-text {
    width: 80px;
    margin-left: 10px;
}

.ui-button:active {
    transform: scale(0.95);
    background-color: var(--btn-active-color);
}

.ui-map-button{
    background-color: var(--btn-map-color);
    transition: transform 100ms;

    border: 1px solid var(--btn-border-color);
    display: flex;
    align-items: center;
    align-content: center;
    padding: 2px;
    border-radius: 8px;
}

.ui-map-button:hover {
    transform: translate(-50%, -50%) scale(1.2);
    background-color: var(--btn-map-hover-color);
}

.ui-map-button:active {
    transform: translate(-50%, -50%) scale(0.95);
    background-color: var(--btn-map-active-color);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
